<!doctype html>
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title Kathryn Radcliffe
    %meta{:content => "Kathryn Radcliffe's online resume and portfolio.", :name => "description"}
    %meta{:content => "Kathryn Radcliffe", :name => "author"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}
    %link{:href => "css/style.css?v=2", :rel => "stylesheet"}
    %script{:src => "js/libs/modernizr-1.6.min.js"}
  %body
    #container
      %header
        %h1 Kathryn Radcliffe
        #chalkboard_left
          %img{:alt => "Kathryn Radclife", :src => "images/kathryn_radcliffe.jpg"}/
        #chalkboard_right
          %p
            %a{:href => "mailto:kathryn@kathrynradcliffe.com"} kathryn@kathrynradcliffe.com
      .page-content
        .entry
          %p.title 2nd Grade Teacher, Kingsway Christian School
          %p.subtitle Avon, IN; August 2011 — Present
        %h2 Teaching Experience
      .page-content
        .entry
          %p.title Substitute Teacher, Hamilton Southeastern Schools
          %p.subtitle Fishers, IN; August 2010 — April 2010
          %p Provides instruction, classroom management, and carries out lesson plans in the absence of the regular classroom teacher.
      .page-content
        .entry
          %p.title Student Teacher, Eastbrook Elementary
          %p.subtitle Indianapolis, IN; February 2010 — April 2010
          %p Taught 31 fourth grade students in Daily 5 Writing, Reading, Everyday Math, and Social Studies.
          %p Planned daily lessons that included state content standards, objectives, procedures, and materials.
          %p
            Differentiated instruction, met accommodations and adaptations for several students with
            Individualized Education Plans (IEPs).
          %p Developed and instructed unit plans over rainforest animals.
      .page-content
        .entry
          %p.title Student Teacher, College Park Elementary
          %p.subtitle Indianapolis, IN; August 2010 — Present
          %p Taught 22 first grade students in Reader’s Workshop, Writer’s Workshop, and Envision Math.
          %p Differentiated instruction to meet the needs of all learners in my classroom, including a small group of high ability students.
          %p Planned daily lessons that included state content standards, objectives, procedures, and materials.
          %p Created and implemented literacy stations that cover word work, sight reading, science, reading comprehension, and phonics.
          %p Helped create and implement activities for a Family Literacy Carnival night.
      .page-content
        .entry
          %p.title HOSTS Mentor, Robey Elementary (Wayne Township, MSD)
          %p.subtitle Indianapolis, IN; February 2010 — April 2010
          %p
            Worked with three different students for thirty minutes a piece. (one second grader and two third graders)
            %p Followed curriculum and lesson plans.
            %p Students I worked with gained an average of 7 reading levels.
        %h2 Volunteer Work
      .clearfix
      %footer
        \© 2011 Kathryn Radcliffe. All Rights Reserved.
    / end of #container
    /[if lt IE 7 ]
      <script src="js/libs/dd_belatedpng.js"></script>
      <script> DD_belatedPNG.fix('img, .png_bg'); </script>
    = partial :ga